@import "../../../../variable.module.scss";

#commentList{
    width: 100%;
    max-width: 900px;
    height: calc(100% - 172px);
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: $border-radius;
    background-color: $white-color;
    overflow-y: auto;
    z-index: 2;

    transition: all 0.7s;
    @include font_type("Noto");

    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $grey02-color;
        border-radius: 10px;
    }

    h1{
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }
    #line{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 500px) {
        padding: 20px;
        margin: 0;
        height: calc(100% - 109px);
        padding-bottom: 0;
        max-height: none;

        h1{
            font-weight: 500;
            font-size: 15px;
            line-height: 115%;
        }

        #line{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    #commentBox{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        #comment{
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            cursor: pointer;
            height: fit-content;

            img{
                width: 60px;
                height: 60px;
                border-radius: 10px;
                cursor: pointer;
                object-fit: cover;

                @media screen and (max-width:500px) {
                    width: 44px;
                    height: 44px;
                }
            }

            #profileImg{
                display: flex;
                width: 60px;
                height: 60px;
                border-radius: 100%;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                svg{
                    width: 35px;
                    height: 35px;
                }
                @media screen and (max-width: 500px) {
                    width: 44px;
                    height: 44px;
                    svg{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            
            #link{
                display: flex;
                width: 50%;
                height: 60px;
                align-items: center;
                flex-wrap: wrap;
                padding-left: 14px;
                padding-right: 14px;
                flex-grow: 1;

                @media screen and (max-width: 500px) {
                    align-items: flex-start;
                    height: 44px;
                }

                p{
                    display: inline-block;
                }
                #contentsBox{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
                    cursor: pointer;

                    #contents{
                        overflow: hidden;
                        width: fit-content;
                        margin-right: 10px;
                        max-width: 608px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 150%;
                        cursor: pointer;
                        @media screen and (max-width: 500px) {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 18px;
                            flex-grow: 0;
                            max-width: 608px;
                            margin-right: 6px;
                            display: -webkit-box;
                            word-wrap: break-word;
                            white-space: normal;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                    #time{
                        align-items: center;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: $grey02-color;
                        flex-shrink: 0;
                        cursor: pointer;
                    }
                }
                #spot{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: auto;
                    #commentLine{
                        margin-left: 6px;
                        margin-right: 6px;
                    }
                    p{
                        display: flex;
                        width: fit-content;
                        align-items: center;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: $main-color;
                        cursor: pointer;
                        @media screen and (max-width: 500px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #moSpot{
        width: 100%;
        display: none;
        flex-wrap: wrap;
        p{
            display: flex;
            width: fit-content;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $main-color;
            cursor: pointer;
            @media screen and (max-width: 500px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }
        }

        @media screen and (max-width: 500px){
            display: flex;
        }
    }

    #moFooter{
        display: none;
        position: relative;
        z-index: 4;
        margin: 0;
        margin-top: 24px;
        bottom: 0;
        @media screen and (max-width: 500px) {
            display: flex;
        }
    }
}