@import "../../../../variable.module.scss";
@import "./FollowPage.module.scss";
@import "../../Login/SCSS/Footer.module.scss";

#main{
    flex-direction: column;
    width: 100%;
    min-width: 500px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    @include font_type("Noto");

    @media screen and (max-width: 500px) {
        width: 100%;
        left: 0!important;
        min-width: 360px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }
}

#title{
    @include title();
    background-color: transparent!important;
}

#line{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (max-width: 500px) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@mixin basic() {
    display: flex;
    width: 100%;
    max-width: 775px;
    background-color: $white-color;
    border-radius: 10px;
    padding-left: 34px;
    padding-right: 34px;
    box-sizing: border-box;
    align-items: center;

    @media screen and (max-width: 500px) {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


#emailAddrBox{
    @include basic();
    justify-content: space-between;
    min-height: 70px;
    margin-top: 20px;
    margin-bottom: 22px;
    box-sizing: border-box;

    @media screen and (max-width: 500px) {
        min-height: 50px;
        margin: 0;
        margin-bottom: 11px;
    }

    #guide{
        display: flex;
        align-items: center;
        svg{
            margin-right: 12px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
        }
        @media screen and (max-width: 500px) {
            p{
                font-size: 14px;
                min-width: 68px;
            }
            svg{
                margin-right: 6px;
            }
        }
    }

    #emailAddr{
        flex-grow: 1;
        margin-left: 50px; 
        display: flex;
        flex-wrap: wrap;

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
        }

        input{
            width: 100%;
            padding: 8px;
            border: 1px solid $grey03-color;
            border-radius: 4px;
        }

        @media screen and (max-width: 500px) {
            margin-left: 6px;
            justify-content: flex-end;

            p, input{
                font-size: 14px;
            }
            p{
                text-align: end;
            }
            input{
                padding: 4px;
                margin-left: 4px;
                border-radius: 4px;
            }
        }
    }
}

#inputBox{
    @include basic();
    padding-top: 22px;
    padding-bottom: 22px;
    flex-wrap: wrap;
    margin-bottom: 22px;

    @media screen and (max-width: 500px) {
        padding: 18px;
        margin-bottom: 11px;
    }

    #titleInput{
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        padding: 10px;
        border-bottom: 1px solid $grey01-color;
        border-radius: 4px;

        @media screen and (max-width: 500px) {
            font-size: 15px;
            padding: 6px;
        }
    }
    #contentsInput{
        width: 100%;
        height: 180px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding: 10px;
        border-radius: 4px;

        @media screen and (max-width: 500px) {
            font-size: 13px;
            padding: 6px;   
        }
    }
    #imgUploadBox{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        margin-top: 10px;
        p, button{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $grey02-color;
        }
        #nullText{
            display: inline;
            width: fit-content;
        }

        #file{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 12px;
            align-items: flex-end;
            #nameBox{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }

        @media screen and (max-width: 500px) {
            p, button{
                font-size: 12px;
            }
            #file{
                align-items: flex-start
            }
        }
    }
}

#consentBox{
    @include basic();
    flex-direction: column;
    align-items: flex-start;
    padding-top: 26px;

    h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        @media screen and (max-width: 500px) {
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
        }
    }
    #textBox{
        width: 100%;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        color: $grey02-color;
        height: 180px;
        padding: 18px 22px;
        box-sizing: border-box;
        white-space: pre-line;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid $grey03-color;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: $grey02-color;
        }

        @media screen and (max-width: 500px) {
            border-radius: 0;
        }
    }
    #checkBox{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 30px;

        input{
            width: 20px;
            height: 20px;
            margin-right: 8px;
            border-radius: 4px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }

    @media screen and (max-width: 500px) {
        h2{
            font-size: 13px;
        }
        #textBox{
            font-size: 9px;
            padding: 9px;
            p{
                line-height: 140%;
            }
        }
        #checkBox{
            margin-bottom: 20px;
            p{
                font-size: 14px;
                line-height: 100%;
            }
        }
    }
}

#contactBtn{
    display: flex;
    margin-top: 40px;
    margin-bottom: 70px;
    button, a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 156px;
        height: 48px;
        padding: 20px;
        border-radius: 60px;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        background-color: $main-color;
        color: $white-color;
        box-sizing: border-box;
    }
    @media screen and (max-width: 500px) {
        margin-bottom: 40px;
        button, a{
            width: 128px;
            height: 45px;
            font-size: 16px;
        }
    }
}

#logo{
    display: none;
    z-index: 3;
    top: 0;
    padding: 15px 20px;
    width: 100%;
    height: 40px;
    background-color: white;
    a{
        height: 100%;
        height: 30px;
    }

    @media screen and (max-width: 500px) {
        display: flex;
    }
}

#footer{
    margin-bottom: 12px;
}