@import "../../../../variable.module.scss";

footer{
    display: flex;
    width: 100%;
    background-color: transparent;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
    position: relative;
    bottom: 0;

    #btnBox{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 8px;
        a, button{
            display: flex;
            margin: 0px 25px;
            width: fit-content;
            text-align: center;
            color: $grey-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }
    }
    p{
        width: 100%;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        justify-content: center;
        color: $grey-color;
    }

    @media screen and (max-width: 510px){
        #btnBox{
                a, button{
                font-size: 13px;
                margin: 0px 20px;
            }
        }
        p{
            font-size: 13px;
        }
    }
    @media screen and (max-width: 390px){
        #btnBox{
            a, button{
                font-size: 12px;
            }
        }
        p{
            font-size: 12px;
        }
    }
}