@import "../../../variable.module.scss";

#logo{
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nameBox{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        @include font_type("Noto");
        h1{
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            margin-right: 4px;
        }
    }
}